#login {
	background-color: lighten($kore-gray, 57%);
	border: 1px solid $border-color;
	border-top-width: 0;
	padding: 12px;
	input {
		@include border-radius(3px);
	}
	label {
		@include hide-me;
	}
	input[type=submit] {
		width: 100%;
	}
}